<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <br>
  <h2>Email: <%= @user.email %></h2>
  <br>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <br>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to "Login with Facebook", "/auth/facebook" %>
<% end %>
